body{
      padding: 0;
      margin: 0;
      background-color: #FBE3D5;
}
img{
      width: 100%;
      height: 50vh;
}
table{
      margin: 0 auto;
      text-align: center;
}
td,th{
      border: 2px solid black;
      padding: 20px;
}
th{
      background-color: #868686;
}
td{
      background-color: #c7c7c7;
}
